{% extends 'base.html' %}

{% block title %}レース一覧{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">レース一覧</h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th  scope="col">月日</th>
      <th  scope="col">レース名</th>
    </tr>
  </thead>
  <tbody>
  {% for race in latest_race_list %}
  <tr>
    <th score="row">{{ race.date }}</td>
    <td>{{ race.name }}</td>
    <td><a href="" class="btn btn-outline-primary btn-sm">予測</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
